<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} {% endblock %}</title>
  <style type="text/css"> {% block style %} {% endblock %} </style>
</head>
<body>
  <div id="wholewrap">  
    <div id="headerBar">
      {% block headBar %}{% endblock %}
    </div>
    <div id="header">
      <li class="siteTitle"> {% block head %}{% endblock %}</li>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
  </div>
</body>
</html>
